{% extends 'admin_pages/base.html.twig' %}

{% block title %}编辑付款方式{% endblock %}

{% block subHeader %}
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">编辑付款方式</h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="m-portlet">
            <!--begin::Form-->
            <form class="m-form m-form--fit m-form--label-align-right"
                  action="{{ path('pay_method_entity_edit_action',{"id":payMethodEntity.id}) }}" method="POST">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group form-inline">
                        <label for="">付款方式名称(必填)：</label>
                        <input type="text" class="form-control m-input" value="{{ payMethodEntity.payMethodName }}"
                               required="required" name="payname">
                    </div>
                    <div class="form-group m-form__group">
                        <label for="">付款方式描述：</label>
                        <textarea type="text" class="form-control m-input" name="paydesc">
                            {{ payMethodEntity.payMethodDesc }}
                        </textarea>
                    </div>
                    <div class="form-group m-form__group form-inline">
                        <label for="">付款方式别名(必填)：</label>
                        <input type="text" class="form-control m-input" value="{{ payMethodEntity.payMethodAlias }}"
                               required="required" name="payalias">
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__foot--fit">
                    <div class="m-form__actions">
                        <button id="" class="btn btn-primary">确定</button>
                    </div>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Portlet-->

    </div>

{% endblock %}
